@tailwind base;
@tailwind components;
@tailwind utilities;
@import './reset.css';

@layer base {
  :root {
    --gold: #c29470;
    --grey: #121c26;
    --light-grey: #404244;
    --cream: #f6efe9;
  }
}

@layer components {
  .underline-animation {
    position: relative;
    overflow: hidden;
  }

  .underline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: -1px;
    background-color: currentColor;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .underline-animation:hover::before {
    transform: translateX(0);
  }
}
