@import '../Styles/mixins';

.menu-holder {
  .menu-inside {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%); /* Start off-screen to the right */
    transition: transform 1s cubic-bezier(1, 0, 0, 1);
    will-change: transform;
    background-color: #111;
    color: white;
    z-index: 11;

    &.open {
      transform: translateX(0); /* Slide in from the right */

      .internal-nav-links {
        @for $i from 0 through 4 {
          li:nth-child(#{$i + 1}n) {
            .header-link {
              transition-delay: #{$i / 10 + 0.8}s;
            }
            .subheader-link {
              transition-delay: #{$i / 10 + 1}s; // Slightly delayed for subheaders
            }
          }
        }

        li {
          .header-link {
            transform: translateX(0);
            opacity: 1;
            transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
          }

          .subheader-link {
            transform: translateX(0);
            opacity: 1;
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }

      .external-nav-links {
        @for $i from 0 through 4 {
          li:nth-child(#{$i + 1}n) {
            a {
              transition-delay: #{$i / 10 + 1}s;
            }
          }
        }

        li {
          a {
            opacity: 1;
            transform: translateX(0);
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }

    .menu-nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6.25rem; /* 100px / 16px = 6.25rem */
    }

    .internal-nav-links {
      li {
        margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */

        .header-link {
          font-size: clamp(2rem, 4vw, 3.25rem); /* 32px = 2rem, 52px = 3.25rem */
          line-height: 1.1em;
          transform: translateX(100%); /* Start off-screen to the right */
          will-change: transform;
          transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            opacity 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          opacity: 0; /* Initially hidden */
        }

        .subheader-link {
          font-size: clamp(0.75rem, 1.5vw, 1.125rem); /* 12px = 0.75rem, 18px = 1.125rem */
          transform: translateX(100%);
          will-change: transform;
          transition: transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            opacity 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          opacity: 0;
        }
      }
    }

    .external-nav-links {
      margin-top: 6.25rem; /* 100px / 16px = 6.25rem */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin-right: 1.875rem; /* 30px / 16px = 1.875rem */

        a {
          transform: translateX(100%);
          opacity: 0;
          will-change: transform;
          transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            opacity 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  @include mq('tablet', max) {
    .menu-inside {
      .menu-nav-container {
        left: 10%;
        width: 100vw;

        img {
          display: none !important;
        }
      }
    }
  }
}
